# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/
ENV/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Flask instance folder
instance/

# Environment variables
.env
.env.*

# Build and distribution
build/
dist/
*.egg-info/

# Uploads and logs
uploads/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/